mark.red{
    background: none;
    color: crimson;
}
  
a{
    color: #01BBFF;
}

body{
	background-color: #413D3D;
    text-align: center;
}

.grid{
    font-family: "helvetica";
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    background-color: #413D3D;
    padding: 30px 50px 50px 50px;
    border: 2px solid #333030;
}

.grid h1{
    font-size: 40px;
    font-weight: bolder;
    color: #9b9999;
    padding: 4px 0px;
    margin: 0;
}

.grid h2{
    background-color: #413D3D;
    font-size: 25px;
    color: #9b9999;
    padding: 4px 0px;
}

#question{
    font-size: 30px;
    font-weight: bolder;
    color: #01BBFF;
    padding: 0;
    margin-bottom: 5px;
}

.buttons{
    margin-top: 0;
    margin-bottom: 15px;
}

#btn0{
	background-color: #01BBFF;
	width: 250px;
	font-size: 30px;
    font-weight: bolder;
	color: #f7f3f3;
	border: 1px solid #1D3C6A;
	margin: 10px 20px 10px 0px;
	padding: 10px 10px;
}

#btn1{
	background-color: #01BBFF;
	width: 250px;
	font-size: 30px;
    font-weight: bolder;
	color: #f7f3f3;
	border: 1px solid #1D3C6A;
	margin: 10px 0px 10px 20px;
	padding: 10px 10px;
}

#btn0:hover, #btn1:hover{
	cursor: pointer;
	background-color: #1D3C6A;
}

#btn0:focus, #btn1:focus{
	outline: 0;
}

.grid #whatIs{
  font-size: 20px;
  color: #9b9999;
  margin-top: 20px;
  margin-bottom: 0px;
}

#btnTechInfo{
	background-color: #333030;
	width: 190px;
	font-size: 16px;
	color: #f7f3f3;
	border: 1px solid #333030;
	margin: 10px 5px 10px 0px;
	padding: 10px 10px;
}

#btnSimpInfo{
	background-color: #333030;
	width: 190px;
	font-size: 16px;
	color: #f7f3f3;
	border: 1px solid #333030;
	margin: 10px 0px 10px 5px;
	padding: 10px 10px;
}

#btnTechInfo:hover, #btnSimpInfo:hover{
	cursor: pointer;
	background-color: #01BBFF;
    color: #f7f3f3;
}

#btnTechInfo:focus, #btnSimpInfo:focus{
	outline: 0;
}

.explination{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    color: #9b9999;
}

.notes{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #9b9999;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  width:950px;
  transform: translate(-50%, -100%);
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  display: flex;
  align-content: center;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media(max-width: 1300px) {
	.grid{
		margin-top: 25px;
		padding: 15px 25px 25px 25px;
		border: 2px solid #333030;
	}
	.grid h1{
		font-size: 43px;
		padding: 2px 0px;
	}
	.grid h2{
		font-size: 24px;
		padding: 2px 0px;
	}
	#question{
		font-size: 35px;
		margin-bottom: 2px;
	}
	.buttons{
		margin-bottom: 2px;
	}
	#btn0{
		width: 40%;
		font-size: 35px;
		border: 1px solid #1D3C6A;
		padding: 5px 5px;
	}
	#btn1{
		width: 40%;
		font-size: 35px;
		border: 1px solid #1D3C6A;
		padding: 5px 5px;
	}
	.grid #whatIs{
	font-size: 20px;
	margin-top: 10px;
	}
	#btnTechInfo{
		width: 25%;
		font-size: 20px;
		border: 1px solid #333030;
		padding: 5px 5px;
	}
	#btnSimpInfo{
		width: 25%;
		font-size: 20px;
		border: 1px solid #333030;
		padding: 5px 5px;
	}
	.explination{
		font-size: 20px;
	}
	.notes{
		margin-top: 10px;
		font-size: 20px;
	}
	.popup .popuptext {
	border-radius: 2px;
	padding: 2px 0;
	width:160%;
	transform: translate(-50%, -100%);
	}
}

@media(max-width: 650px) {
	.grid{
		margin-top: 10px;
		padding: 15px 25px 25px 25px;
		border: 1px solid #333030;
	}
	.grid h1{
		font-size: 35px;
		padding: 2px 0px;
	}
	.grid h2{
		font-size: 18px;
		padding: 2px 0px;
	}
	#question{
		font-size: 28px;
		margin-bottom: 2px;
	}
	.buttons{
		margin-bottom: 2px;
	}
	#btn0{
		width: 30%;
		font-size: 28px;
		border: .5px solid #1D3C6A;
		padding: 5px 5px;
	}
	#btn1{
		width: 30%;
		font-size: 28px;
		border: 1px solid #1D3C6A;
		padding: 5px 5px;
	}
	.grid #whatIs{
	font-size: 15px;
	margin-top: 10px;
	}
	#btnTechInfo{
		width: 35%;
		font-size: 15px;
		border: .5px solid #333030;
		padding: 5px 5px;
	}
	#btnSimpInfo{
		width: 35%;
		font-size: 15px;
		border: .5px solid #333030;
		padding: 5px 5px;
	}
	.explination{
		font-size: 15px;
	}
	.notes{
		margin-top: 10px;
		font-size: 15px;
	}
	.popup .popuptext {
	border-radius: 2px;
	padding: 2px 0;
	width:125%;
	transform: translate(-50%, -75%);
	}
}

@media(max-width: 325px) {
	.grid{
		margin-top: 10px;
		padding: 15px 25px 25px 25px;
		border: 1px solid #333030;
	}
	.grid h1{
		font-size: 25px;
		padding: 2px 0px;
	}
	.grid h2{
		font-size: 8px;
		padding: 2px 0px;
	}
	#question{
		font-size: 20px;
		margin-bottom: 2px;
	}
	.buttons{
		margin-bottom: 2px;
	}
	#btn0{
		width: 25%;
		font-size: 20px;
		border: .5px solid #1D3C6A;
		padding: 5px 5px;
	}
	#btn1{
		width: 25%;
		font-size: 20px;
		border: 1px solid #1D3C6A;
		padding: 5px 5px;
	}
	.grid #whatIs{
	font-size: 8px;
	margin-top: 10px;
	}
	#btnTechInfo{
		width: 45%;
		font-size: 8px;
		border: .5px solid #333030;
		padding: 5px 5px;
	}
	#btnSimpInfo{
		width: 45%;
		font-size: 8px;
		border: .5px solid #333030;
		padding: 5px 5px;
	}
	.explination{
		font-size: 8px;
	}
	.notes{
		margin-top: 10px;
		font-size: 8px;
	}
	.popup .popuptext {
	border-radius: 2px;
	padding: 2px 0;
	width:125%;
	transform: translate(-50%, -25%);
	}
}

